.main {
	display: flex;
	justify-content: space-evenly;
}

#navbar-example3 {
	position: relative;
}

.guide {
	margin-bottom: 6em;
}

.jumbotron {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 700px) {
	.main {
		display: block;
	}

	.main .card {
		margin: auto auto 3em auto;
	}
}
